.env
.venv/
venv/

node_modules/

__pycache__/

.DS_Store

.vscode/

backend/__pycache__/

frontend/node_modules/

backend/venv/

backend/.venv/

backend/.env

backend/.DS_Store

backend/.vscode/

backend/__pycache__/

backend/venv/

backend/.venv/